.background-canvas {
    position: absolute;
    right: 0;
    bottom: 10%;
    opacity: 0.1;
    transform: scale(1.5);
}

.rive-laptop-pc-phone {
    position: relative;
    transform: scale(1.5);
}

